.main-intro {
  background-image:
    linear-gradient(@color-accent-85, @color-accent-85),
    url("../img/main-intro-bg-cat.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center 0, center 0;
  margin-bottom: 22px;
}
