.main-intro {
  .wrapper();
  background-image:
    url('../img/main-intro-bg-can-mobile.png'),
    url("../img/main-intro-bg-cat-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 280px 270px, auto 302px;
  background-position: center 167px, center 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 22px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image:
    url('../img/main-intro-bg-can-mobile@2x.png'),
    url("../img/main-intro-bg-cat-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    margin-top: 40px;
    text-align: left;
    align-items: flex-start;
    background-image:
      url('../img/main-intro-bg-can-tablet.png');
    background-repeat: no-repeat;
    background-size: 709px 609px;
    background-position: center bottom;
    background-color: @color-white;
    @media (min-resolution: 2dppx) {
      background-image:
      url('../img/main-intro-bg-can-tablet@2x.png');
    }
  }
  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 82px;
    // -117px это оффсет, который зависит от высоты шапки. Если пунктов меню будет больше, оффсет надо поменять
    height: calc(694px - 117px);
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 100px;
      //позиционирование относительно центра контейнера со смещением 114px по макету
      left: calc(50% - 276px + 114px);
      width: 552px;
      height: 499px;
      background-image:
        url("../img/main-intro-bg-can-desktop.png");
      background-repeat: no-repeat;
      background-size: 552px 499px;
      @media (min-resolution: 2dppx) {
        background-image:
          url("../img/main-intro-bg-can-desktop@2x.png");
      }
    }
    &::after {
      content: "";
      position: absolute;
      // -117px это оффсет, который зависит от высоты шапки. Если пунктов меню будет больше, оффсет надо поменять
      top: -117px;
      right: 0;
      width: 50%;
      height: 694px;
      background-image:
        url("../img/main-intro-bg-cat-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      @media (min-resolution: 2dppx) {
        background-image:
          url("../img/main-intro-bg-cat-desktop@2x.jpg");
      }
    }
  }
}
.main-intro__title {
  margin-top: 22px;
  margin-bottom: 0;
  position: relative;
  z-index: 4;

  @media (min-width: @tablet-width) {
    color: @color-black;
    margin-left: 87px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 94px;
    margin-left: 80px;
  }
}

.main-intro__shop-slogan {
  margin-top: 25px;
  margin-bottom: 0;
  position: relative;
  z-index: 4;

  @media (min-width: @tablet-width) {
    color: @color-black;
    margin-top: 41px;
    margin-left: 87px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.main-intro__button {
  margin-top: 302px;
  align-self: stretch;
  position: relative;
  z-index: 4;

  @media (min-width: @tablet-width) {
    margin-top: 49px;
    margin-left: 87px;
    margin-bottom: 526px;
    padding: 14px 26px;
    font: 20px/20px @font-secondary;
    display: inline-block;
    align-self: flex-start;
  }
  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-bottom: 185px;
  }
}

