.get-program {
  border-top: 1px solid @color-dark-grey;
}
.get-program__title {
  .wrapper();
  margin-top: 27px;
}
.get-program__description {
  .wrapper();
  text-transform: uppercase;
  margin-top: 37px;
}
.get-program__form {
  margin-top: 39px;
}
