.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &--closed {
    display: none;
  }
  &--opened {
    display: block;
    position: absolute;
    z-index: 20;
    background-color: @color-white;
    top: 64px;
    left: 0;
    margin-top: 0;
  }
  &--nojs {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 35px;
  }
}
.nav__toggle {
  width: 24px;
  height: 16px;
  display: block;
  position: relative;
  border: 0;
  cursor: pointer;
  background-color: @color-white;

  &::before {
    content: "";
    width: 24px;
    height: 1px;
    background-color: @color-black;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 8px 0 0 @color-black, 0 16px 0 0 @color-black;
  }

  &--nojs {
    display: none;
  }
  @media (min-width: @tablet-width) {
    display: none;
  }
}
.nav__link {
  font: normal 500 20px/20px @font-secondary;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-black;
  &:visited {
    color: @color-black;
  }

  @media (min-width: @tablet-width) {
    font: 400 18px/24px @font-secondary;
  }

  @media (min-width: @desktop-width) {
    font: 400 20px/30px @font-secondary;
  }
}
.nav__item {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid @color-grey;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 11px;
    padding-bottom: 5px;
    .nav__link--main {
      color: @color-white;
    }
  }
  &:first-child {
    border-top: 1px solid @color-grey;

    @media (min-width: @tablet-width) {
      border-top: 0;
    }
  }
  &:hover .nav__link {
    color: fade(@color-black, 60%);
  }
  &:hover .nav__link--main {
    color: fade(@color-black, 60%);

    @media (min-width: @desktop-width) {
      color: fade(@color-white, 60%);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &:active .nav__link,
  &:focus .nav__link {
    color: fade(@color-black, 30%);
  }
  &:active .nav__link--main,
  &:focus .nav__link--main {
    color: fade(@color-black, 30%);

    @media (min-width: @desktop-width) {
      color: fade(@color-white, 30%);
    }
  }
  &--current {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 2px solid @color-accent;

    @media (min-width: @desktop-width) {
      padding-left: 0px;
      padding-right: 0px;
      border-bottom: 2px solid @color-accent;
    }
  }
  &--current-main {
    @media (min-width: @desktop-width) {
      border-bottom: 2px solid @color-white;
    }
  }
  &--current .nav__link,
  &--current:hover .nav__link,
  &--current:active .nav__link,
  &--current:focus .nav__link {
    color: @color-black;
  }
  &--current-main .nav__link,
  &--current-main:hover .nav__link,
  &--current-main:active .nav__link,
  &--current-main:focus .nav__link {
    color: @color-black;
    text-shadow: none;
    @media (min-width: @desktop-width) {
      color: @color-white;
    }
  }
}
