.wrapper {
  min-width: 280px;
  max-width: 420px; //280px + 50%
  padding: 0 20px;
  margin: auto;

  @media (min-width: @tablet-width) {
    min-width: 708px;
    max-width: 1058px; //708px + 50%
    padding: 0 30px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    min-width: 1220px;
    max-width: 1830px; //1220px + 50%
    padding: 0 110px;
  }
}
