.text {
  font: normal 400 14px/18px @font-primary;
  color: @color-text-grey;

  &--contacts {
    line-height: 20px;
  }

  &--organization {
    font-size: 16px;
  }

  &--key-number {
    font: 12px/12px @font-primary;
  }

  &--form {
    font-size: 16px;
    font-family: @font-secondary;
    text-transform: uppercase;
  }

  &--form-note {
    line-height: 16px;
    color: @color-black;
  }

  &--product-description {
    font: 12px/16px;
  }
}

.text__title {
  font: normal 400 36px/36px @font-secondary;
  color: @color-black;

  &--nav {
    font: 500 20px/20px @font-secondary;
    text-transform: uppercase;
    text-decoration: none;
  }

  &--main-intro {
    color: @color-white;
  }

  &--main-slogan {
    font: 14px/14px @font-secondary;
    color: white;
    text-transform: uppercase;
  }

  &--program {
    font: 24px/37px @font-secondary;
    text-transform: uppercase;
  }

  &--program-link {
    font: 16px/16px @font-secondary;
    text-transform: uppercase;
    text-decoration: none;
  }

  &--section {
    font: 36px/40px @font-secondary;
  }

  &--key-number {
    font: 24px/24px @font-secondary;
    text-transform: uppercase;
  }

  &--fact {
    font: 14px/20px @font-secondary;
    text-transform: uppercase;
  }

  &--block {
    font: 16px/20px @font-secondary;
    text-transform: uppercase;
  }

  &--block-secondary {
    font: 16px/20px @font-primary;
    color: @color-white;
  }

  &--semi-title {
    font: 14px/18px @font-secondary;
  }

  &--section-secondary {
    font: 24px/26px @font-secondary;
  }
}
