// подключаю шрифты
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

.text-mixin(@color: @color-text-grey, @font-size: 14px, @line-height: 18px) {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: @font-size;
  line-height: @line-height;
  color: @color;
  font-style: normal;
}
.text {
  .text-mixin();
  &--contacts {
    .text-mixin(@color-text-grey, 14px, 20px);
  }
  &--organization {
    .text-mixin(@color-text-grey, 16px, 18px);
    font-style: normal;
  }
  &--key-number {
    .text-mixin(@color-text-grey, 12px, 12px);
  }
  &--form {
    .text-mixin();  //текст должен быть oswald
    text-transform: uppercase;
  }
  &--form-note {
    .text-mixin();
    line-height: 16px;
    color: @color-black;
  }
}
