.cat-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cat-slider__control {
  width: 84px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  padding: 3px 6px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
}
.cat-slider__toggle {
  width: 35px;
  height: 6px;
  background-color: @color-accent;
  border-radius: 6px;
  margin-right: auto;
  pointer-events: none;
}
