.related {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 80px;
    margin-bottom: 86px;
  }
}
.related__title {
  grid-column: ~"1 / -1";
  margin-bottom: 36px;
  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
  }
}
.related__item {
  border-top: 1px solid @color-grey-special;
  &:last-child {
    border-bottom: 1px solid @color-grey-special;
  }
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px 28px;
  }
  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
    padding: 16px 1px;
    grid-column: ~"1 / -2";
    align-items: center;
    border-bottom: 1px solid @color-grey-special;
  }
}
.related__name {
  margin-top: 13px;
  margin-bottom: 13px;
  @media (min-width: @tablet-width) {
    margin-top: 25px;
    margin-bottom: 0;
    width: 40%;
  }
  @media (min-width: @desktop-width) {
    margin-top: 0;
    width: 40%;
  }
}
.related__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
    margin-top: 0;
    margin-left: 38px;
  }
}
.related__key {
  text-align: left;
}
.related__value {
  text-align: right;
}
.related__button {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 19px;
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    width: 20%;
    margin-top: 0;
    margin-left: 38px;
  }
}
