.page-footer {
  background-color: @color-bg-grey;
  position: relative;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (max-width: @mobile-and-tablet) {
    .wrapper();
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 110px;
    top: 120px;
    padding: 66px 76px 51px;
    box-sizing: border-box;
    width: 570px;
    height: 201px;
    background-color: @color-white;
  }

  &--main {
    background-color: @color-white;
  }
}
.page-footer__address {
  br:last-child {
    @media (max-width: @mobile-only) {
      display: none;
    }
  }
}
.page-footer__logo-text {
  border-bottom: 1px solid @color-dark-grey;
  padding-top: 39px;
  padding-bottom: 32px;
  display: block;
}

.page-footer__socials {
  border-bottom: 1px solid @color-dark-grey;
}
.page-footer__copyright {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.page-footer__organizaion-logo {
  display: inline-block;
  background-image: url("../img/icons/htmlacademy.svg");
}

.page-footer__map {
  margin: 0;
  border: 0;
  width: 100%;
  height: 362px;
}
