.page-footer {
  background-color: @color-bg-grey;
  position: relative;
}

.page-footer__contacts {
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 62px;
    padding-bottom: 51px;
  }
  @media (min-width: @desktop-width) {
    position: absolute;
    left: 110px;
    top: 120px;
    padding: 66px 76px 51px;
    box-sizing: border-box;
    width: 570px;
    height: 201px;
    background-color: @color-white;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: @tablet-width) {
      padding-left: 70px;
      padding-right: 65px;
    }

    @media (min-width: @desktop-width) {
      min-width: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--main {
    background-color: @color-white;
  }
}
.page-footer__title {
  margin: 0;
}
.page-footer__address {
  br:last-child {
    @media (max-width: @mobile-only) {
      display: none;
    }
  }
}
.page-footer__map {
  margin: 0;
  border: 0;
  width: 100%;
  height: 362px;
}
.page-footer__links {
  .wrapper();
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
  hr {
    border: none;
    color: @color-dark-grey;
    background-color: @color-dark-grey;
    height: 1px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
.page-footer__logo-text {
  display: inline-block;
  vertical-align: middle;
  margin-top: 39px;
  margin-bottom: 32px;
  text-align: center;
}
.page-footer__socials {
  margin: 20px auto;
  padding: 0;
  width: 40%;

  @media (min-width: @tablet-width) {
    width: 130px;
  }
}
.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-footer__organization {
  text-decoration: none;
  color: @color-dark-light;
  &:active,
  &:focus {
    color: fade(@color-dark-light, 30%);
  }

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }
}
.page-footer__organization-logo-img {
  fill: @color-dark-secondary;
  .page-footer__organization-logo:hover & {
    fill: @color-accent;
  }
  .page-footer__organization-logo:active &,
  .page-footer__organization-logo:focus & {
    fill: fade(@color-accent, 30%);
  }
}
