.page-footer {
  background-color: @color-bg-grey;
}

.page-footer__contacts {
  padding-top: 28px;
  padding-bottom: 26px;
  box-sizing: border-box;

  &--main {
    background-color: @color-white;
  }
}

.page-footer__logo-text {
  border-bottom: 1px solid @color-dark-grey;
  padding-top: 39px;
  padding-bottom: 32px;
  display: block;
}

.page-footer__socials {
  border-bottom: 1px solid @color-dark-grey;
}

.page-footer__organizaion-logo {
  display: inline-block;
  background-image: url("../img/icons/htmlacademy.svg");
}

.page-footer__map {
  margin: 0;
  border: 0;
  width: 100%;
  height: 362px;
}
