.catalog {
  .wrapper();
}
.catalog__title {
  margin-top: 27px;
  margin-bottom: 41px;
  @media (min-width: @tablet-width) {
    margin-top: 47px;
    margin-bottom: 82px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 57px;
    margin-bottom: 82px;
  }
}
